/* cabecalho */

body{
    background-color: #ebeff1;
}
.nm{
    margin: 0 !important;
}
.np{
    padding: 0 !important;
}
.suave, .suave:hover{
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}
.click{
    cursor: pointer;
}
.mini-title{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.first-color{
    background-color: #03a9f4;
}

.highlight-color-text{
    color: white;
}

#topo{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
}
#topo .logo i{
    width: 40px;
    height: 40px;
    font-size: 24px;
    position: absolute;
    top: 10px;
    left: 10px;
    line-height: 40px;
}
#topo .logo{
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: relative;
    float: left;
    padding-left: 60px;
}
#topo .notificacoes{
    width: 260px;
    height: 60px;
    float: right;
}
#topo .notificacoes .perfil{
    width: 100%;
    height: 60px;
}
#topo .notificacoes .perfil img{
    width: 40px;
    float: right;
    margin: 10px 0 0 15px;
}
#topo .notificacoes .perfil h6{
    margin: 0;
    float: right;
    line-height: 60px;
}
#topo .notificacoes .perfil h6 i{
    font-size: 24px;
}
#topo .notificacoes ul{
    margin: 0;
}
#topo .notificacoes ul li{
    display: inline-block;
    position: relative;
}
#topo .notificacoes ul li i{
    width: 38px;
    height: 38px;
    line-height: 38px;
    display: block;
    text-align: center;
    font-size: 22px;
}
#topo .notificacoes ul li span{
    position: absolute;
    top: 0;
    right: 0;
    height: 16px;
    line-height: 16px;
    font-size: 10px;
    border-radius: 15px;
    padding: 0 5px;
    display: none;
}
#topo .notificacoes ul li.active span{
    background-color: #03a9f4;
    color: white;
    display: block;
}

#menu{
    width: 300px;
    position: fixed;
    top: 60px;
    left: 0;
}
#menu ul{
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #CCC;
}
#menu ul li{}
#menu ul li a{
    line-height: 48px;
    display: block;
    box-sizing: border-box;
    padding: 0 20px;
    color: #999;
}

#graficos{
    margin-top: 100px;
    padding: 0 40px;
    padding-left: 340px;
}
#graficos h6{
    margin: 0;
    padding: 20px;
}
#graficos #grafico1{
    width: 100%;
    padding: 20px;
}
#graficos #grafico2{}
#graficos #grafico3{}
#graficos #grafico4{}